.form-list {
  margin: 60px 0;
}

input, textarea {
  resize: none;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  border: none;
  width: 100%;
}

.text-box, textarea {
  display: block;
  border-radius: 2px;
  padding: 1rem;
  box-sizing: border-box;
  border: 2px solid color(main);
}

.form-item {
  margin-top: 2rem;
}

.form-ttl {
  margin-bottom: 1rem;
}

.submit-btn {
  letter-spacing: 2px;
}
